@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 60s linear infinite;
    will-change: transform;
  }

  @keyframes marquee-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 60s linear infinite;
    will-change: transform;
  }
}


@layer base {
  :root {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
    font-feature-settings: var(--font-sans--font-feature-settings);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes typing-clip {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.typing-text {
  animation: typing-clip 2.5s steps(30, end) forwards;
}

.animate-gradient-smooth {
  background-size: 500% 100%;
  animation: gradient-move-smooth 18s linear infinite;
  will-change: background-position;
}

@keyframes gradient-move-smooth {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 500% 50%;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
